// ----------------------------------------
// BreakPoints
// ----------------------------------------
$breakpoints: (
    'md': 768px,
    'lg': 960px,
    'xl': 1200px
) !default;

// ----------------------------------------
// Color
// ----------------------------------------
$white-color: #fff;
$black-color: #000;
$red-color: red;

// ----------------------------------------
// Font
// ----------------------------------------
$standard-font-size: 62.5%;
